// Specific CSS for your home-page

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card-container {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1.5px solid #2f2f2f;
}

.home-card {
  align-items: center;
  height: 96px;
}

.home-icon {
  flex-basis: 45%;
  text-align: center;
  padding-left: 30px;
}

.home-card-text {
  flex-grow: 1;
}

.home-card-content {
  padding: 0px;
}
