<h1><%= @item_design.name %></h1>
<% @subscriptions.each do |subscription| %>
  <div>
    <h3><%= subscription.subscription_type %></h3>
    <h3><%= subscription.price.format %></h3>
    <br>
  </div>
<% end %>
