<div class="d-block is-hidden-tablet">
  <div>
    <nav class="nav-bar-container" aria-hidden="false">
      <div class="nav-bar-content">

        <a class="nav-icon-container" href="/">
          <div class="nav-icon-content">
            <i class="fas fa-home fa-lg"></i>
          </div>
          <div class="nav-icon-text">Home</div>
        </a>

        <a class="nav-icon-container" href="/search">
          <div class="nav-icon-content">
            <i class="fas fa-search fa-lg"></i>
          </div>
          <div class="nav-icon-text">Search</div>
        </a>

        <%= link_to(chatrooms_path, method: :post, class: "nav-icon-container") do %>
          <div class="nav-icon-content">
            <i class="fas fa-comment-alt fa-lg"></i>
          </div>
          <div class="nav-icon-text">Support</div>
        <% end %>

        <a class="nav-icon-container" href="/profile">
          <div class="nav-icon-content">
            <i class="fas fa-user-circle fa-lg"></i>
          </div>
          <div class="nav-icon-text">Profile</div>
        </a>

      </div>
    </nav>
  </div>
</div>
