<% if notice %>
  <div class="notification is-success is-light" role="alert">
    <button type="button" class="delete" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= notice %>
  </div>
<% end %>

<% if alert %>
  <div class="notification is-warning is-light" role="alert">
    <button type="button" class="delete" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= alert %>
  </div>
<% end %>
