<nav class="navbar has-shadow py-1" role="navigation" aria-label="main navigation">
  <div class="navbar-brand px-5">
    <div class="navbar-item">
      <%= link_to root_path, class: "" do %>
        <%= image_tag "safely.jpg" %>
      <% end %>
    </div>
  </div>

  <div class="navbar-menu" id="navbarMenu" >
    <div class="navbar-start">
    </div>
    <div class="navbar-end">
    </div>
  </div>
</nav>
