<h1>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h1>

<% unless @user_items.nil? %>
  <% @user_items.each do |user_item| %>
    <h1><%= user_item.item_design.name %></h1>
  <% end %>
<% end %>
