<h2>Welcome <%= current_user.first_name %> <%= current_user.last_name %></h2>

<% unless @user_items.nil? %>
  <% @user_items.each do |user_item| %>
    <h4><%= user_item.item_design.name %></h4>
    <h4><%= user_item.subscription %></h4>
  <% end %>
<% end %>
