.search-box {
  width: 100%;
  background-color: white;
  box-shadow: 0px 0px 5px 1px #444444;
  justify-content: space-between !important;
  border-radius: 40px !important;
  padding: 3px 9px;
  display: inline-block;
}

.form-control {
  border: none;
  background-color: transparent;
  width: 100%;
}

.search-text {
  width: 100%;
  border: none;
  background-color: transparent;
  float: left !important;
  vertical-align: middle;
}

.search-text:focus {
  outline: 0px;
  border: none;
}

.search-icon{
  float: right !important;
  align-self: center;
  width: 10%;
  padding-right: 45px;
  vertical-align: middle;
}

.btn-default {
  border-style: none;
  background-color: transparent;
}

