.navbar {
  display: flex;
}

.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -ms-flex: 0 1 auto;
}

nav {
  display: block;
}


.navbar-item {
  padding-left: 0px;
  padding-bottom: 0px;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
}

svg:not(:root) {
    overflow: hidden;
}
